@use "../../components/Verible/Verible.scss"as *;

.Home{
    background-color: $second;
    padding-bottom: 30px;
}
@media screen and (0px < width < 900px) {
    .Home{
        padding-bottom: 0px;
    }
}