// colors

$main: #0071e3;
$mainHover: #208fff;
$green: #2bc48a;
$text: #1d1d1f;
$text-second: #575759;
$second: #f5f5f7;
$white: #ffffff;

// mixins

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btnStyle{
  background-color: $main;
  color: white;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
@mixin hover {
  &:hover {
    background-color: $mainHover;
    color: white;
  }
  &:active {
    background-color: $main;
  }
}
