@use "../../Verible/Verible.scss" as *;

.Navbar {
  width: 100%;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text;
  font-size: 14px;
  background-color: $white;
  .left {
    @include center;
    gap: 10px;
    cursor: pointer;
    color: $text;
    .img {
      @include center;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 30px;
    ul {
      display: flex;
      gap: 30px;
      li {
        a {
          color: $text;

          &.active {
            color: $main;
          }
        }
      }
    }
    button {
      background-color: $main;
      padding: 10px 14px;
      border: none;
      color: white;
      border-radius: 50px;
      cursor: pointer;
      @include hover;
    }
  }

  .right-media {
    display: none;
    .radio {
      @include center;
      @include btnStyle;
      padding: 10px;
      border-radius: 50%;
      font-size: 16px;
      cursor: pointer;
      @include hover;
    }
  }
}

@media screen and (max-width: 830px) {
  .Navbar {
    width: 90%;
    padding: 4px 5px;
    background-color: $white;
    border-radius: 50px;
    margin: 0 auto;
    font-size: 13px;
   
    .right {
      display: none;
    }

    .right-media {
      display: flex;
    }
  }
}
